* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('D:/short course/frontend/asset/mesh-609.png');
    /* background-image: url('https://img.freepik.com/premium-vector/modern-gradient-background-with-vibrant-colors_336924-4189.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 620px;
}

.box {
    /* max-width: 400px; */
    background-color: #fddddd;
    border-radius: 38px;
    height: 620px;
    /* position: relative; */
}

.box::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0,0,0,0.5);
    border-radius: 56px;
    z-index: -1;
}

main {
    text-align: center;
    height: 620px;
}

h1 {
    /* background-color: #74D0E7; */
    color: #430576;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

img {
    margin-bottom: 10px;
}

.input-section {
    height: 220px;
    display: "flex";
    flex-direction: column;
    position: relative;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

input {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    margin: 6px;
}

input:hover {
    border-color: #ed511d;
}

div.flex-container {
    display: "flex";
}

button {
    position: relative;
    padding: 10px;
    width: 144px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #fe6c6c;
    color: #430576;
}

.switch:hover {
    background-color: #367E18;
    color: #ECF8F9;
}

.calculate:hover {
    background-color: #1D267D;
    color: #ECF8F9;
}

.reset:hover {
    background-color: #e00000;
    color: #ECF8F9;
}

button:active {
    transform: translateY(1px);
}

.result {
    margin: 14px;
    font-size: xx-large;
    color: #430576;
}